.banner {
    background: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.feature{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.feature img{
    width: 50%;
    /* border-radius: 8px; */
}
.feature > div{
    width: 50%;
    margin-left: 32px;
}

.feature  h1{
    font-size: 3em;
    width: 400px;
}